/* Header */
header {
  background-color: var(--white);
  border-bottom: 0.5px solid var(--heritage-blue); /* thin blue line */
}

/* Footer */
footer {
  margin-top: 3rem;
  background-color: var(--white);
  border-top: 0.5px solid var(--heritage-blue); /* thin blue line */
  color: #666;
  text-align: center;
  padding: 1rem;
  font-size: 0.85rem;
}
